<!DOCTYPE html>
<html>
    <head>
        <title>Pooja Food Products</title>
        <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/stylesheets/main.css">
    </head>

<body>
    <nav id="navbar" >
            <!-- Brand -->
            <a id="nav-brand" href="#">Pooja Food Products</a>



            <!-- Navbar links -->
            <div >
                <ul id="nav-links">
                <li class="nav-item">
                    <a class="nav-link"href="#">Products</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Login</a>
                </li>
                </ul>
            </div>
    </nav>