<%- include("partials/header.ejs") %>

    <section id="welcome-section">
        <div id="home-container">
            <div id = header-container>
                <h1>Welcome to</h1>
                <h1><span>Pooja Food</span></h1>
                <h1>Products</h1>   
                </div>
        
                <div id="info-container">
                    <p>Quality Products</p>
                    <p>Since 2016.</p>
                </div>
        </div>
        <img src=""https://image.freepik.com/free-vector/promotion-banner-with-potato-chips-foil-package-with-crispy-salted-snacks_1441-2438.jpg"" alt="">
    </section>

    <section id="benefits-section">

    </section>
<%- include("partials/footer.ejs") %>
